# Indexing

In [1]:
# make a string
a="Samosa pakora"

In [2]:
a[0]

'S'

In [3]:
a[5]

'a'

In [4]:
a[14]

IndexError: string index out of range

In [5]:
# lenght of indices
len(a)
# lenght is 13 but if you write a[13], it will give you error of out of range as python start counting from 0.
# so you need to enter 13-1=12

13

In [6]:
a[13]

IndexError: string index out of range

In [7]:
# however, remember that in indexing here in pyhton, last index is exclusive e.g., 
a[0:5] # it is indexing 0,1,2,3,4 not the 5,

'Samos'

In [8]:
# similarly, 
a[0:12] # its not printing the 12 index, you need to write 13 to have that last index

'Samosa pakor'

In [9]:
a[0:13]

'Samosa pakora'

In [10]:
# you can also index from the right side of string/anything but it will start from -1 from the right end
a[-1]

'a'

In [11]:
a[-1:-6] # this will give error, as -1:-6 is not the style of english langauge hand, so you need to righ -6:-1

''

In [12]:
a[-6:-1] # you will see it has not printed the last 'a', to print that, -6:0 will not work, -6:len(a) would work

'pakor'

In [13]:
a[-6:len(a)] # or a[-6:13]

'pakora'

## strings methods

In [14]:
food = "biryani"
food

'biryani'

In [15]:
len(food)

7

In [16]:
# captilaizing first letter
food.capitalize()

'Biryani'

In [17]:
# all capitals
food.upper()

'BIRYANI'

In [18]:
# first lower
food.lower()

'biryani'

In [19]:
food.replace("b", "sh")

'shiryani'

In [20]:
# counting a special letter in strin
name = "learning pyhton with baba ammar"
name

'learning pyhton with baba ammar'

In [21]:
# this counting is case sensitive as well
name.count("b")

2

In [22]:
### how to find an index in string/anything
name = "learning pyhton with baba ammar"
name

'learning pyhton with baba ammar'

In [23]:
name.index("mm") # for double entry, it will give the index of first entry

27

In [24]:
# how to split a string?
food = "i love pakora, samosa, biryani, raita, karahi"
food.split(",") # split based on specific character

['i love pakora', ' samosa', ' biryani', ' raita', ' karahi']

# Basic data structure in python
1. Tuple
2. List
3. Dictionaries 
4. Set

## 1- Tupel
- ordered collection of elements (integers, strings, boolian operators (true, false), float)
- enclosed in () braces/paranthesis 
- Different kind of element can be stored
- once element are stored, you cant change them, i.e. (unmutateable)

In [25]:
tup1=(2, "awais", True, 2.5)
tup1

(2, 'awais', True, 2.5)

In [26]:
type(tup1)

tuple

## -Indexing in tuple

In [28]:
tup1[0]

2

In [29]:
tup1[2]

True

In [30]:
# count element in tuple
len(tup1)

4

In [31]:
# tuple addition, multiplication
tup2=(4, "python", False, 3.3)
tup2

(4, 'python', False, 3.3)

In [32]:
# we call addition in python/scientific langaugae as concatenate (link together things in a series or chain)
tup1+tup2

(2, 'awais', True, 2.5, 4, 'python', False, 3.3)

In [33]:
tup1+tup2*2 # concatenate plus repeat

(2, 'awais', True, 2.5, 4, 'python', False, 3.3, 4, 'python', False, 3.3)

In [34]:
tup3 = (20, 70, 50, 10)
tup3

(20, 70, 50, 10)

In [35]:
# min value in tuple
min(tup3)

10

In [36]:
# max value in tuple
max(tup3)

70

In [37]:
tup3*3

(20, 70, 50, 10, 20, 70, 50, 10, 20, 70, 50, 10)

---

## 2- List 
- ordered collection of elements
- enclosed in [ ] square brackets/braces
- Mutateable i.e., you can change the values

In [38]:
list1=["dawood", 4, True, 1.1]
list1

['dawood', 4, True, 1.1]

In [39]:
type(list1)

list

In [40]:
len(list1)

4

In [41]:
list1[0]

'dawood'

In [42]:
list1[3]

1.1

In [43]:
list2=["cricket", 4, 3.2, "python", "samosa", False, True]
list2

['cricket', 4, 3.2, 'python', 'samosa', False, True]

In [44]:
list1+list2

['dawood', 4, True, 1.1, 'cricket', 4, 3.2, 'python', 'samosa', False, True]

In [46]:
list2.reverse() # there are many function, you can try and see
list2

[True, False, 'samosa', 'python', 3.2, 4, 'cricket']

In [47]:
list2.append("love")
list2

[True, False, 'samosa', 'python', 3.2, 4, 'cricket', 'love']

In [68]:
list2.count(3.2) # check how to count a list
# The count() method returns the number of times the specified element appears in the list.

1

In [69]:
list2.count("love")

1

In [70]:
list2.count(False)

1

In [75]:
list3=[10,12, 14,101, 4]
list3.clear()
list3

[]

In [79]:
list4=[1,"a","e","i",3,"o",False]
list4

[1, 'a', 'e', 'i', 3, 'o', False]

In [81]:
list4.copy()

[1, 'a', 'e', 'i', 3, 'o', False]

In [105]:
list4.extend("d")
list4

[1, 'a', 'dawood', 4, 2, 'e', 'i', 3, 'o', False, 'e', '2', 'd', 'd']

In [104]:
list4.insert(2,"dawood")
list4

[1, 'a', 'dawood', 4, 2, 'e', 'i', 3, 'o', False, 'e', '2', 'd']

## 3- Dictionaries
- an unordered collection of elements 
- key and value data structure
- { } curly brackets/braces are used to define dictionaries
- mutateable, you can change the value

In [106]:
food1 = {"samosa":20, "pakora":200, "Naan":20, "raita":20}
food1

{'samosa': 20, 'pakora': 200, 'Naan': 20, 'raita': 20}

In [107]:
type(food1)

dict

In [108]:
# extract data from dictionaries
keys1=food1.keys()
keys1

dict_keys(['samosa', 'pakora', 'Naan', 'raita'])

In [109]:
values1=food1.values()
values1

dict_values([20, 200, 20, 20])

In [110]:
# how to add a new element in dictionary
food1["tikki"]=40
food1

{'samosa': 20, 'pakora': 200, 'Naan': 20, 'raita': 20, 'tikki': 40}

In [111]:
# update a value in dic
food1["tikki"]=80
food1

{'samosa': 20, 'pakora': 200, 'Naan': 20, 'raita': 20, 'tikki': 80}

In [112]:
food2={"dates":400, "choclate":800, "faniya":500}
food2

{'dates': 400, 'choclate': 800, 'faniya': 500}

In [113]:
# concatenate two dictionaries
food1+food2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [114]:
# it will not work like list of tuple, you need to use update 
food1.update(food2)
food1

{'samosa': 20,
 'pakora': 200,
 'Naan': 20,
 'raita': 20,
 'tikki': 80,
 'dates': 400,
 'choclate': 800,
 'faniya': 500}

In [131]:
food1.get("raita") # how to use get for dictionaries?  
# This method return a value for the given key. If key is not available, then returns default value None. 
# Note: dont print the output, otherwise it will show you the original dictionary not the output of get function

20

In [136]:
food1.items()

dict_items([('samosa', 20), ('pakora', 200), ('Naan', 20), ('raita', 20), ('tikki', 80), ('dates', 400), ('choclate', 800), ('faniya', 500)])

## 4- Sets
- an unordered and unindexed
- curly brackets are used { }
- no duplicates are allowed
- booloian operators are not allowed, they will not get printed in the output
-

In [150]:
s1={"dates", 400, "choclate", 800, "faniya", 500.45, True} #  booloian operators are not allowed, they will not get 
                                                           #printed in the output
s1

{400, 500.45, 800, True, 'choclate', 'dates', 'faniya'}

In [151]:
s1={"dates", 400, "choclate", 800, "faniya", 500.45}
s1

{400, 500.45, 800, 'choclate', 'dates', 'faniya'}

In [152]:
s1.add(2)
s1

{2, 400, 500.45, 800, 'choclate', 'dates', 'faniya'}

In [153]:
s1.add(400) # it will not add dupilcate in the set
s1

{2, 400, 500.45, 800, 'choclate', 'dates', 'faniya'}

In [154]:
type(s1)

set

In [155]:
s1.discard("choclate")
s1

{2, 400, 500.45, 800, 'dates', 'faniya'}