# Python ka chilla with Baba Ammar

**01_first program**

In [1]:
print(2+5)
print("hello")

7
hello

**02-operators**

In [2]:
print(2+3)
print(6%4)
print(6-4)
print(6*4)
print(6//4)

5
2
2
24
1


for combine operators, it work by PEMDAS rule

print (5**2/2*4+5-1/3*2) # e.g., brakets, then power, then divisoin, then mulitiplicaation, then addition, then subtraction, then mulitplication. However, # Also, python executes the operators from left to right for M D & A S

print(5-1/3*2) # e.g., here it divide first then multiply and then subtract

** in VS is for power

**03- strings**

any thing written in single, double, tripple qoutations is string

In [3]:
print ('hi')
print ("hello")
print(''' Hello''') # spaces inside the strings will have impact.

hi
hello
 Hello

04- comments

I know what it means by commenting, shortcut key in ptyhon is ctrl+/  # I know what it means by commenting, shortcut key in ptyhon is ctrl+/

05- variables

In [4]:
# Objects containing a value 
x=3 # integer variable
print(x)
y="i am learing python" # sting variable
print (y)
# remember, the code runs line by line, i.e., if we change a varaible later, it will get the later value
x=10
print(x)
# types/class of variable
type(x)
print(type(x))

print(type(y))

# rules to assign a variable
# 1 variable should contain letter, numbers or undescore
# 2 do not start variables with numbers
# 3 spaces are not allowed in variable names
# 4 do not use keywords used in funtions , e.g., mean median, break etc
# 5 short and discriptive name
# 6 variable names are case sensitive, I suggest to use lower case always
fruit_basket="mangoes"
print(type(fruit_basket))
fruits=9 # you can delete one variable by writing del fruits etc.
print(type(fruits))

3
i am learing python
10
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>

**06- input variables**

In [5]:
game="cricket"
print(game)

# input function simple
game=input("what is your favourite game")
print(game)

# input fucniton of 2nd stage
name=input("what is your name")
greetings="hello"
print(greetings, name)

# another way of stage 2 input function
name=input("what is your name")
print("Hello!", name)

# 3rd stage input function
name=input("what is your name ?")
age=input("how old are you ?")
greetings="hello"
print(greetings, name,"you are still young")

cricket
what is your favourite gamecricket
cricket
what is your nameawais
hello awais
what is your nameawais
Hello! awais
what is your name ?awais
how old are you ?6
hello awais you are still young

07 conditional logics

In [6]:
# Logical operators are either "true or false" or " 1 and 0" 
# equal to ==
# less than <
# greater than >
# less than and equal to <=
# greater than and equal to >=
# not equal to !=

# how to ask python about logical operator?
# 4 is equal to 4
print(4==4)  
print(4!=4)
print(10>=5)
# application of logical operators
dawood_age=4
min_age_at_school=5
print(dawood_age==min_age_at_school)

True
False
True
False

In [7]:
min_age_at_school=5 
dawood_age=input("how old is dawood") # input function
dawood_age=int(dawood_age)
print(dawood_age==min_age_at_school) #logical operator, keep in mind, it should be integer to execute

how old is dawood2
False

**08- type conversion**

In [8]:
x=2 # integer
y=5.1 # type will come as float means its a decimal number 
z="hello" # string
print(type(x))
x=x*y
print(type(x))
# implicit type conversion
x=x+y
print(x, "type of x is: ", type(x) )

<class 'int'>
<class 'float'>
15.299999999999999 type of x is:  <class 'float'>

In [9]:
# explicit type of conversion
my_age=input("what is your age")
print(type(my_age)) # this will give you string as the type, althoug you are answering a digit so you can change it in the print fucntion
print(type(int(my_age)))
print(my_age, type(int(my_age))) # it will not work if you input answer in decimal
print(my_age, type(float(my_age)))

what is your age12
<class 'str'>
<class 'int'>
12 <class 'int'>
12 <class 'float'>

In [10]:
# name
name=input("what is your son name")
print(name, type(str(name)))

what is your son namedawood
dawood <class 'str'>

**09- if else elf statement**

In [11]:
dawood_age=5
age_to_travel=6
if dawood_age==age_to_travel:
    print("dawood can come to abu dhabi") # if this will only be the statemtn, then nothing will be printing
    # if dawood age is not equal to age to travel,so you need to add else statement to print another statement
else: 
        print ("dawood can not come to abu dhabi")
        # you can add elif statement as well in your code

dawood can not come to abu dhabi

**10- functions**

In [12]:
# print("we are learning python")
# print("we are learning python")
# print("we are learning python")
# print("we are learning python")
# print("we are learning python")
# print("we are learning python")
# print("we are learning python")
# if there is a mistake, you will have to change it in all repitions

# Lets see how to define a function

def print_awais(): # name of our function
    print("we are learning python")
    print("we are learning python")
    print("we are learning python")
print_awais()

we are learning python
we are learning python
we are learning python

In [13]:
# 2 way to define a function

def print_awais():
    text="I am a freelancer" # you can change anything to this single line and it will automatically changed to all outputs
    print(text)
    print(text)
    print(text)
print_awais()

I am a freelancer
I am a freelancer
I am a freelancer

In [14]:
# 3 way to define a fucntion
def print_awais(text):
    print(text)
    print(text)
    print(text)
#print_awais() #in empty bracket, this will sy missing 1 required positional arguemnt, 
# so you can add your text here what you like and this would be another way of defining the function
print_awais(" I am good at python")

 I am good at python
 I am good at python
 I am good at python

In [15]:


# defining a fucntion with if, else, elis statements
def school_age(age, text):
    if age==6:
        print("dawood can travel")
    elif age >5:
        print("dawood has grown up")
    else:
        print("dawood is cute little baby")
school_age(7, "dawood")

dawood has grown up

In [16]:
# defining a function of future
def future(age):
    new_age=age+20
    # print(new_age)
    return new_age
    
f=future(20)
print(f)

40

**11- loops**

In [17]:
# two types of loops are while and for

# while loop
x=0
while (x<4):
    print(x)
    x=x+1

0
1
2
3

In [18]:
# # for loop
for x in range(5,10):
    print(x)

5
6
7
8
9

In [19]:
# arrays
days=["sunday", "monday", "tuesday", "wednes", "thursday", "saturday"]
for j in days:
    #if j=="thursday": break # loop stops at thursday
    if j=="thursday": continue # skips thursday
    print(j)

sunday
monday
tuesday
wednes
saturday

**11- import libraries**

In [20]:
# if you want to print the value of pi, then you can call already developed libraries where the fucntions has
# been developed by the programmers. so you can import those libraries to use those functions

import math
print("the value of pi is: ", math.pi)

the value of pi is:  3.141592653589793

In [21]:
import statistics
x=[100, 120, -30, 20]
print("mean of x: ", statistics.mean(x))

# numpy, pandas libraries are also very helpful, we will see further later

mean of x:  52.5

**12- trouble shooting**

In [22]:
# syntax error
print(Python is great language)

# runtime error
print(10/0)

# difficult error to troubleshoot is "symantic error" That language is doing its job perfect but we made
# there is a error from our side e.g.,

name= "dawood"
print("Hi name")

SyntaxError: invalid syntax (2620010816.py, line 2)